{% extends 'base_single_column.html' %}{% load i18n %}{% load crispy_forms_tags %}
{% block page_header %}{% trans 'Reset my password' %}{% endblock page_header %}

{% block main_content %}
  <div class="alert alert-info">{% blocktrans %}We have sent you a verification code.
    Please type that in the box below and then your new password, twice.{% endblocktrans %}</div>
  <div class="alert alert-warning">{% blocktrans %}Due to security reasons, verification code expires in 60 minutes.{% endblocktrans %}</div>
  {% crispy form %}
{% endblock main_content %}