{% extends 'skeleton.html' %}{% load i18n %}{% load staticfiles %}

{% block page_container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Dashboard</a></li>
        <li class="active"><a href="#">Keywords</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Meetup</a></li>
        <li><a href="#">Web Content</a></li>
      </ul>
    </div>
    <div class="col-lg-10 col-main">
      {% block main_content %}{% endblock main_content %}
    </div>
  </div>
</div>
{% endblock page_container %}

{% block javascript_container %}
{{ block.super }}
{% block javascript %}{% endblock javascript %}
{% endblock javascript_container %}