{% extends 'skeleton.html' %}{% load i18n %}{% load staticfiles %}

{% block page_container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="{% url 'projects_index' %}">Projects</a></li>
        <li><a href="{% url 'keywords_index' %}">Keywords</a></li>
        <li><a href="{% url 'twitter_index' %}">Twitter</a></li>
        <li><a href="{% url 'meetup_index' %}">Meetup</a></li>
        <li><a href="{% url 'content_index' %}">Web Content</a></li>
        <li><a href="{% url 'websites_index' %}">Websites</a></li>
      </ul>
    </div>
    <div class="col-lg-10 col-main">
      {% block main_content %}{% endblock main_content %}
    </div>
  </div>
</div>
{% endblock page_container %}

{% block javascript_container %}
{{ block.super }}
{% block javascript %}{% endblock javascript %}
{% endblock javascript_container %}