{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Dashboard Template for Bootstrap</title>

    {% block stylesheet_container %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'stylesheet/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/bootstrap-theme.min.css' %}">
    <!-- Fontawesome for icon font -->
    <link rel="stylesheet" href="{% static 'stylesheet/font-awesome.min.css' %}">
    {% endblock stylesheet_container %}
  </head>

  <body>
    {% block navigation_container %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-circle"></i> {% block page_header %}{% endblock page_header %}</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            {% if request.project %}<li><a href="{% url 'projects_index' %}">{{ request.project }}</a></li>{% endif %}
            <li><a href="#"><i class="fa fa-gear"></i></a></li>
            <li><a href="{% url 'accounts_logout' %}"><i class="fa fa-sign-out"></i></a></li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'welcome_page' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'accounts_register' %}"><i class="fa fa-user"></i></a></li>
            <li><a href="{% url 'accounts_login' %}"><i class="fa fa-sign-in"></i></a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock navigation_container %}

    {% block page_container %}{% endblock page_container %}

    {% block javascript_container %}
    <!-- JavaScript files -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="application/javascript" src="{% static 'javascript/jquery-1.11.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
    {% endblock javascript_container %}
  </body>
</html>