{% extends 'skeleton.html' %}{% load i18n %}{% load staticfiles %}

{% block stylesheet_container %}
{{ block.super }}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'stylesheet/welcome.css' %}">
{% endblock stylesheet_container %}

{% block navigation_container %}{% endblock navigation_container %}

{% block page_container %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Oxidizr</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="{% url 'welcome_page' %}">{% trans 'Home' %}</a></li>
            <li><a href="https://github.com/pixlie/oxidizr">Source</a></li>
            <li><a href="{% url 'accounts_login' %}">{% trans 'Login' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">{% trans 'Rule online marketing' %}</h1>
        <p class="lead">{% blocktrans %}Oxidizr is the mega app to help you conquer online marketing.
          Listen to your users, keep track of competitors, find leads - all with ease.
          An Open Source app that you can host yourself in 5 minutes.{% endblocktrans %}</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-success">Get started</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock page_container %}

{% block javascript_container %}{% endblock javascript_container %}